
<p>This is the main task page...</p>

<h2>Task Listing</h2>
<ul>
  <% for(var i = 0 ; i < tasks.length; i++ ) { %>
    <li><a href="/task/show/<%= tasks[i].id %>"> <%= tasks[i].title %> <%= tasks[i].notes %></a> - <a class="delete" href="/task/delete/<%= tasks[i].id %>" data-remove="task_<%= tasks[i].id %>">Delete Note</a></li>
  <% } %>
</ul>

<h2>Create a new task:</h2>
<form action="/task/create" method="post">
  <div class="field">
    <label for="title">Task title:</label>
    <input type="text" name="title" id="title" class="text" />
  </div>
  <div class="field">
    <label for="notes">Notes:</label>
    <textarea rows="6" cols="40" name="notes" id="notes"></textarea>
  </div>
  <div class="field">
    <input type="submit" value="Save" />             
  </div>
</form>

