<p>This is the main task page...</p>

<h1><%= task.errors[0] %></h1>
<h2>Task Listing</h2>
<ul>
  <% 
  for(var i = 0 ; i < tasks.length; i++ ) { %>
    <li id="task_<%= tasks[i].id %>"><a href="/tasks/<%= tasks[i].id %>"> <%= tasks[i].displayTitle() %> <%= tasks[i].notes %></a> - <form action="/tasks/<%= tasks[i].id %>" method="POST"><input type="hidden" name="_method" value="DELETE" /><input type="submit" name="del" value="Delete Note" /></form>  </li>
  <% } %>
</ul>

<h2>Create a new task:</h2>
<form action="/tasks" method="post">
  <div class="field">
    <label for="title">Task title:</label>
    <input type="text" name="title" id="title" class="text" value="<%= task.title %>" />
  </div>
  <div class="field">
    <label for="notes">Notes:</label>
    <textarea rows="6" cols="40" name="notes" id="notes"><%= task.notes %></textarea>
  </div>
  <div class="field">
    <input type="submit" value="Save" />             
  </div>
</form>

