<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>My Application</title>
    <link rel="stylesheet" href="/master.css" type="text/css" media="screen" charset="utf-8">
    
    <script type="application/javascript" src="http://www.google.com/jsapi"></script>
    <script type="application/javascript">
      google.load("jquery", "1.3.2");
    </script>

  </head>
  <body>
    <div id="wrap">
      <h1 class="domain">My Application</h1>
      <div id="box">
        <%= catch_content %>
      </div>
    </div>
  </body>
</html>
